* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: scroll;
  overflow-x: hidden;
}
.headerContent {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.headerButtons {
  display: flex;
  position: absolute;
  right: 22px;
}
.namePage {
  text-align: center;
  margin-top: 20px;
}

.headersText {
  color: rgba(175, 175, 175, 1);
  font-size: 27px;
  font-weight: 800;
}
.stvolLayout {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.filterButton {
  display: flex;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(35, 35, 35, 1);
  border-right: 1px solid rgba(35, 35, 35, 1);
  width: 128px;
  height: 60px;
  color: rgba(175, 175, 175, 1);
  font-size: 22px;
}

.basketButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  background-color: white;
  color: black;
  height: 45px;
  font-size: 22px;
  font-weight: 800;
  padding: 0 16px 0 16px;
  border-radius: 16px;
}
.selectedView {
  margin-left: 38px;
  margin-right: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.selectedRow {
  display: flex;
  gap: 60px;
}
.selectedFlower {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.helpText {
  margin-top: 40px;
  text-align: center;
  color: rgba(80, 80, 80, 1);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 110px;
}
