.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}
.container .header {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  margin: 30px 36px 0 36px;
}
.container .header .backButton {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.container .header .backButton img {
  height: 24px;
  transform: rotate(180deg);
}
.container .namePageText {
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  color: #afafaf;
  font-family: TTNorms800;
}
.container main {
  margin: 24px 36px 0 36px;
}
.container main .userInfo .nameText {
  color: white;
  font-family: TTNorms800;
  font-size: 22px;
}
.container main .userInfo .contactsText {
  color: #afafaf;
  font-family: TTNorms400;
  font-size: 20px;
}
.container main .adressText {
  margin-top: 20px;
  font-family: TTNorms700;
  font-size: 24px;
  color: white;
}
.container main .adressData {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  margin-top: 18px;
}
.container main .adressData .adressRow {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.container main .adressData input {
  width: 100%;
  background-color: black;
  outline: none;
  border-bottom: 1px solid #9c9c9c;
  font-size: 22px;
  font-family: TTNorms400;
  color: #9c9c9c;
}
.container main .timeText {
  margin-top: 24px;
  font-family: TTNorms700;
  font-size: 24px;
  color: white;
}
.container main .intervalButton {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 14px;
  cursor: pointer;
}
.container main .intervalButton p {
  color: white;
  font-size: 22px;
  font-family: TTNorms700;
}
.container main .intervalButton .arrowDown {
  transform: rotate(180deg);
  transition: 0.3s;
}
.container main .intervalButton .arrowUp {
  transform: rotate(0);
  transition: 0.3s;
}
.container main .viewClose {
  display: none;
}
.container main .viewOpen {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.container main .viewOpen .timeInterval {
  margin-top: 15px;
}
.container main .viewOpen .timeInterval .typeHourText {
  font-size: 22px;
  font-family: TTNorms400;
  width: max-content;
  cursor: pointer;
}
.container main .viewOpen .timeInterval .activeType {
  color: white;
  border-bottom: 1px solid white;
}
.container main .viewOpen .timeInterval .inActiveType {
  color: #545454;
}
.container main .viewOpen .timeInterval .selectIntervalTime {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.container main .viewOpen .timeInterval .selectIntervalTime p,
.container main .viewOpen .timeInterval .selectIntervalTime input {
  color: white;
  background-color: black;
  font-size: 22px;
  font-family: TTNorms400;
  outline: none;
}
.container main .selectDate {
  margin-top: 30px;
}
.container main .selectDate .slideTrack {
  padding: 0 30px 0 30px;
}
.container main .selectDate .slideTrack .slider {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container main .selectDate .slideTrack .slider .dateCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  height: 90px;
  border-radius: 8px;
}
.container main .selectDate .slideTrack .slider .dateCard p {
  font-family: TTNorms400;
  font-size: 22px;
}
.container main .selectDate .slideTrack .slider .inActiveDateCard {
  background-color: white;
}
.container main .selectDate .slideTrack .slider .inActiveDateCard p {
  color: black;
}
.container main .selectDate .slideTrack .slider .activeDateCard {
  background-color: #c81768;
}
.container main .selectDate .slideTrack .slider .activeDateCard p {
  color: white;
}
.container main .recipientText {
  color: white;
  font-size: 22px;
  font-family: TTNorms700;
  margin-top: 47px;
}
.container main .recipientView {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container main .recipientView .selectRecipientButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container main .recipientView .selectRecipientButton p {
  color: white;
  font-size: 22px;
  font-family: TTNorms400;
}
.container main .inputRecipient {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 18px;
}
.container main .inputRecipient input {
  color: white;
  background-color: black;
  font-size: 22px;
  font-family: TTNorms400;
  outline: none;
  border-bottom: 1px solid #9c9c9c;
}
.container main .sendButtons {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.container main .sendButtons .sendButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container main .sendButtons .sendButton p {
  color: white;
  font-family: TTNorms700;
  font-size: 22px;
}
.container main .productCards {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 43px;
}
.container main .resultDelivery {
  margin-top: 43px;
}
.container main .resultDelivery .resultDeliveryText {
  color: white;
  font-size: 24px;
  font-family: TTNorms700;
}
.container main .resultDelivery .deliveryView {
  display: flex;
  justify-content: space-between;
}
.container main .resultDelivery .deliveryView .attributeDeliveryText {
  color: #cccccc;
  font-size: 22px;
  font-family: TTNorms500;
  margin-top: 12px;
}
.container main .resultDelivery .deliveryView .deliveryText {
  margin-top: 17px;
}
.container main .resultDelivery .deliveryView .sumDeliveryText {
  margin-top: 20px;
}
.container main .resultDelivery .deliveryView .valueDeliveryText {
  color: white;
  font-family: TTNorms700;
  font-size: 22px;
}
.container main .promocodeButton {
  background-color: white;
  margin-top: 35px;
  cursor: pointer;
  height: 45px;
  padding: 0 16px 0 16px;
  width: max-content;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 65px;
}
.container main .promocodeButton p {
  color: black;
  font-family: TTNorms700;
  font-size: 22px;
}
.container main .checkoutOrderButton {
  background-color: #c81768;
  height: 45px;
  margin: 61px auto 80px auto;
  padding: 0 20px 0 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  cursor: pointer;
}
.container main .checkoutOrderButton p {
  color: white;
  font-size: 27px;
  font-family: TTNorms800;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.container375 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}
.container375 .header {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  margin: 30px 36px 0 36px;
}
.container375 .header .backButton {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 10px;
}
.container375 .header .backButton img {
  height: 18px;
  transform: rotate(180deg);
}
.container375 .namePageText {
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  color: #afafaf;
  font-family: TTNorms800;
}
.container375 main {
  margin: 24px 36px 0 36px;
}
.container375 main .userInfo .nameText {
  color: white;
  font-family: TTNorms800;
  font-size: 16px;
}
.container375 main .userInfo .contactsText {
  color: #afafaf;
  font-family: TTNorms400;
  font-size: 16px;
}
.container375 main .adressText {
  margin-top: 16px;
  font-family: TTNorms700;
  font-size: 20px;
  color: white;
}
.container375 main .adressData {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  margin-top: 18px;
}
.container375 main .adressData .adressRow {
  display: flex;
  justify-content: center;
  gap: 28px;
}
.container375 main .adressData input {
  width: 100%;
  background-color: black;
  outline: none;
  border-bottom: 1px solid #9c9c9c;
  font-size: 16px;
  font-family: TTNorms400;
  color: #9c9c9c;
}
.container375 main .timeText {
  margin-top: 24px;
  font-family: TTNorms700;
  font-size: 18px;
  color: white;
}
.container375 main .intervalButton {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 14px;
  cursor: pointer;
}
.container375 main .intervalButton img {
  height: 20px;
}
.container375 main .intervalButton p {
  color: white;
  font-size: 17px;
  font-family: TTNorms700;
}
.container375 main .intervalButton .arrowDown {
  transform: rotate(180deg);
  transition: 0.3s;
}
.container375 main .intervalButton .arrowUp {
  transform: rotate(0);
  transition: 0.3s;
}
.container375 main .viewClose {
  display: none;
}
.container375 main .viewOpen {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.container375 main .viewOpen .timeInterval {
  margin-top: 15px;
}
.container375 main .viewOpen .timeInterval .typeHourText {
  font-size: 18px;
  font-family: TTNorms400;
  width: max-content;
  cursor: pointer;
}
.container375 main .viewOpen .timeInterval .activeType {
  color: white;
  border-bottom: 1px solid white;
}
.container375 main .viewOpen .timeInterval .inActiveType {
  color: #545454;
}
.container375 main .viewOpen .timeInterval .selectIntervalTime {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.container375 main .viewOpen .timeInterval .selectIntervalTime p,
.container375 main .viewOpen .timeInterval .selectIntervalTime input {
  color: white;
  background-color: black;
  font-size: 16px;
  font-family: TTNorms400;
  outline: none;
}
.container375 main .selectDate {
  margin-top: 30px;
}
.container375 main .selectDate .slideTrack {
  padding: 0 30px 0 30px;
}
.container375 main .selectDate .slideTrack .slider {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container375 main .selectDate .slideTrack .slider .dateCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  border-radius: 8px;
}
.container375 main .selectDate .slideTrack .slider .dateCard p {
  font-family: TTNorms400;
  font-size: 18px;
}
.container375 main .selectDate .slideTrack .slider .inActiveDateCard {
  background-color: white;
}
.container375 main .selectDate .slideTrack .slider .inActiveDateCard p {
  color: black;
}
.container375 main .selectDate .slideTrack .slider .activeDateCard {
  background-color: #c81768;
}
.container375 main .selectDate .slideTrack .slider .activeDateCard p {
  color: white;
}
.container375 main .recipientText {
  color: white;
  font-size: 18px;
  font-family: TTNorms700;
  margin-top: 47px;
}
.container375 main .recipientView {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container375 main .recipientView .selectRecipientButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container375 main .recipientView .selectRecipientButton p {
  color: white;
  font-size: 16px;
  font-family: TTNorms400;
}
.container375 main .recipientView .selectRecipientButton img {
  width: 17px;
}
.container375 main .inputRecipient {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 18px;
}
.container375 main .inputRecipient input {
  color: white;
  background-color: black;
  font-size: 16px;
  font-family: TTNorms400;
  outline: none;
  border-bottom: 1px solid #9c9c9c;
}
.container375 main .sendButtons {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.container375 main .sendButtons .sendButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container375 main .sendButtons .sendButton p {
  color: white;
  font-family: TTNorms700;
  font-size: 16px;
}
.container375 main .sendButtons .sendButton img {
  width: 17px;
}
.container375 main .productCards {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 43px;
}
.container375 main .resultDelivery {
  margin-top: 43px;
}
.container375 main .resultDelivery .resultDeliveryText {
  color: white;
  font-size: 18px;
  font-family: TTNorms700;
}
.container375 main .resultDelivery .deliveryView {
  display: flex;
  justify-content: space-between;
}
.container375 main .resultDelivery .deliveryView .attributeDeliveryText {
  color: #cccccc;
  font-size: 16px;
  font-family: TTNorms500;
  margin-top: 12px;
}
.container375 main .resultDelivery .deliveryView .deliveryText {
  margin-top: 17px;
}
.container375 main .resultDelivery .deliveryView .sumDeliveryText {
  margin-top: 17px;
}
.container375 main .resultDelivery .deliveryView .valueDeliveryText {
  color: white;
  font-family: TTNorms700;
  font-size: 17px;
}
.container375 main .promocodeButton {
  background-color: white;
  margin-top: 35px;
  cursor: pointer;
  height: 45px;
  padding: 0 16px 0 16px;
  width: max-content;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 65px;
}
.container375 main .promocodeButton p {
  color: black;
  font-family: TTNorms700;
  font-size: 16px;
}
.container375 main .promocodeButton img {
  height: 20px;
}
.container375 main .checkoutOrderButton {
  background-color: #c81768;
  height: 45px;
  margin: 61px auto 80px auto;
  padding: 0 20px 0 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  cursor: pointer;
}
.container375 main .checkoutOrderButton p {
  color: white;
  font-size: 20px;
  font-family: TTNorms800;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
