.container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.container .header {
  margin-top: 30px;
}
.container .namePageText {
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  color: #afafaf;
  font-family: TTNorms800;
}
.container .SortFilterButtons {
  margin-top: 20px;
  margin-right: 26px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 10px;
}
.container .SortFilterButtons .sortButton {
  cursor: pointer;
}
.container .SortFilterButtons .filterButton {
  cursor: pointer;
}
.container .filtersOpen {
  display: grid;
  gap: 10px;
  opacity: 0;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 26px 0 26px;
  animation: fadeIn 0.5s forwards;
}
.container .filtersOpen .filterButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
  border-radius: 16px;
}
.container .filtersOpen .inActiveFilterButton {
  background-color: #3d3d3d;
  color: white;
  font-size: 20px;
  font-family: TTNorms400;
}
.container .filtersOpen .activeFilterButton {
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: TTNorms400;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.container .nameFilterText {
  color: #afafaf;
  font-family: TTNorms800;
  font-size: 27px;
  margin: 10px 26px 0 26px;
}
.container .filtersClose {
  display: none;
}
.container .products {
  margin: 15px 26px 0 26px;
  display: flex;
  justify-content: center;
}
.container .products .productsView {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 0px;
  margin-bottom: 140px;
}
.container375 {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.container375 .header {
  margin-top: 30px;
}
.container375 .namePageText {
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  color: #afafaf;
  font-family: TTNorms800;
}
.container375 .SortFilterButtons {
  margin-top: 20px;
  margin-right: 26px;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 10px;
}
.container375 .SortFilterButtons .sortButton {
  cursor: pointer;
  width: 28px;
}
.container375 .SortFilterButtons .filterButton {
  cursor: pointer;
  width: 23px;
}
.container375 .filtersOpen {
  display: grid;
  gap: 10px;
  opacity: 0;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 26px 0 26px;
  animation: fadeIn 0.5s forwards;
}
.container375 .filtersOpen .filterButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
  border-radius: 16px;
}
.container375 .filtersOpen .inActiveFilterButton {
  background-color: #3d3d3d;
  color: white;
  font-size: 14px;
  font-family: TTNorms400;
}
.container375 .filtersOpen .activeFilterButton {
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: TTNorms400;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.container375 .filtersClose {
  display: none;
}
.container375 .nameFilterText {
  color: #afafaf;
  font-family: TTNorms800;
  font-size: 16px;
  margin: 10px 26px 0 26px;
}
.container375 .products {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.container375 .products .productsView {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  row-gap: 50px;
  column-gap: 10px;
  margin-bottom: 140px;
}
