.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  margin-top: 30px;
  position: relative;
  margin-left: 35px;
}

.headerButtons {
  display: flex;
  position: absolute;
  right: 22px;
}

.mainContent {
  margin-left: 35px;
  margin-right: 35px;
}

.mainInfo {
  margin-top: 17px;
}

.attributes {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.mainText {
  margin-top: 15px;
  color: rgba(156, 156, 156, 1);
  font-size: 22px;
}

.deliveryInfo {
  margin-top: 50px;
}
.refundInfo {
  margin-top: 50px;
}
.loyaltyInfo {
  margin-top: 50px;
}

.deliveryText {
  color: rgba(156, 156, 156, 1);
  font-size: 22px;
}
.timeDelivery {
  margin-top: 12px;
}
.timePrice {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  width: 60%;
}

.timePriceField {
  display: flex;
  justify-content: space-between;
}

.helpDeliveryText {
  color: rgba(106, 106, 106, 1);
  font-size: 20px;
}

.additionalDelivery {
  margin-top: 30px;
}

.loyaltyText {
  color: rgba(156, 156, 156, 1);
  font-size: 22px;
}

.helpLoyaltyText {
  color: rgba(106, 106, 106, 1);
  font-size: 20px;
}

.loyalityField {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}
.aboutCompany {
  display: flex;
  align-items: flex-end;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 50px;
  margin-bottom: 150px;
}
.requisites {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutCompanyAttributes {
  font-size: 22px;
}
.aboutCompanyValues {
  font-size: 20px;
}
.aboutCompanyText {
  color: rgba(133, 133, 133, 1);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.telegramButton {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 45px;
  padding: 0 8px 0 8px;
  border-radius: 61px;
  width: max-content;
}
.telegramButtonText {
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.numberField {
  display: flex;
  align-items: center;
  gap: 12px;
}

.numberText {
  font-size: 22px;
  color: rgba(156, 156, 156, 1);
}

.emailField {
  display: flex;
  align-items: center;
  gap: 12px;
}
.emailText {
  font-size: 22px;
  color: rgba(156, 156, 156, 1);
}
