.priceText {
  background: linear-gradient(90deg, #f01940 -7.96%, #8c0000 104.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 700;
}
.nameText {
  color: white;
  font-size: 25px;
  margin-top: 15px;
}
.button {
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: 800;
  height: 35px;
  padding: 0 16px 0 16px;
  background-color: white;
  width: max-content;
  border-radius: 16px;
  margin-top: 15px;
}
