.container {
  width: 100%;
  padding: 0 42px 0 42px !important;
  .slideTrack {
    display: grid;
    .slider {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
}
